$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//

.navbar-brand {
font-family: 'Comfortaa', cursive;
  font-variant: small-caps;
  font-size: 40px;
}

.modal-title {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}
.modal-body {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

#-signup-button {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

#-logout-button {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

#-changepwd-button {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

#locations-dropdown-button {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

#locations-dropdown {
  font-family: 'Comfortaa';
  font-variant: small-caps;
}

h1 {
    font-family: 'Comfortaa';
    font-variant: small-caps;
  }
h3 {
    font-family: 'Comfortaa';
    font-variant: small-caps;
  }

.img-wrap {
  position: relative;
  height: 300px;
  width: 400px;
  transition: filter .8s;
  display: inline-block;
  margin: 5px;

}
.img-img {
  border-radius: 80px;
  transition: border-radius .5s;
}

.img-description {
  font-family: 'Comfortaa';
  font-variant: small-caps;
  position: absolute;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}
//
.img-wrap:hover .img-description {
  visibility: visible;
  opacity: .75;

}
//
.img-wrap:hover {
  filter: sepia(75%)
}

.img-wrap:hover img {
   filter: blur(1.5px);
   border-radius: 30px;
}
//
